$main-theme-color: #2e2920;
$body-bg-color: #2e2920;
$main-bg-color: #2e2920;
$anchor-color: lighten($main-theme-color, 90%);
$main-text-color: #ffffdf;
$border-color: #ffffdf;
$secondary-text-color: #fff5bf;
$toast-border: lighten($body-bg-color, 4%);
$toast-bg: lighten($body-bg-color, 4%);
$focus-outline: lighten($main-theme-color, 50%);
$compose-background: darken($main-theme-color, 12%);

@import "_base.scss";
@import "_dark.scss";
@import "_dark_scrollbars.scss";

:root {
  --settings-list-item-text: #{$anchor-color};
  --settings-list-item-text-hover: #{$anchor-color};
  --settings-list-item-bg-active: #{darken($body-bg-color, 10%)};
  --settings-list-item-bg-hover: #{darken($body-bg-color, 2%)};

  --button-primary-bg: #{lighten($body-bg-color, 10%)};
  --button-primary-border: #{$border-color};
  --button-primary-bg-hover: #{lighten($body-bg-color, 15%)};
  --button-primary-bg-active: #{lighten($body-bg-color, 15%)};

  --button-bg: #{lighten($body-bg-color, 10%)};
  --button-border: #{$border-color};
  --button-bg-hover: #{lighten($body-bg-color, 15%)};
  --button-bg-active: #{lighten($body-bg-color, 15%)};

  --form-bg: #{$body-bg-color};
  --form-border: #{darken($border-color, 10%)};

  --action-button-fill-color: #{lighten($main-bg-color, 20%)};
  --action-button-fill-color-hover: #{lighten($main-bg-color, 30%)};
  --action-button-fill-color-active: #{darken($main-bg-color, 40%)};
  --action-button-fill-color-pressed: #{lighten($main-bg-color, 85%)};
  --action-button-fill-color-pressed-hover: #{lighten($main-bg-color, 100%)};
  --action-button-fill-color-pressed-active: #{lighten($main-bg-color, 80%)};
}
/* Add a retro terminal effect */
	body::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		pointer-events: none !important;
		background: repeating-linear-gradient(
		0deg,
		rgba(0,0,0,0.25),
		rgba(0,0,0,0.25) 1px,
		transparent 1px,
		transparent 2px
		);
	}
.inline-emoji {
  font-family: CountryFlagEmojiPolyfill, PinaforeEmoji, 'Roboto Mono', monospace, 'Roboto', sans-serif !important;
  filter: sepia(50%);
}
textarea {
	font-family: CountryFlagEmojiPolyfill, 'Roboto Mono', monospace, 'Roboto', sans-serif, PinaforeEmoji !important;
}
body, input, button {
	font-family: "Iosevka Curly", "Iosevka", 'Roboto Mono', monospace, 'Roboto', sans-serif !important;
}
img {
	filter: sepia(50%);
}
