@font-face {
  font-family: PinaforeRegular;
  src: local('Roboto Mono'),
  local("BlinkMacSystemFont"),
  local("Segoe UI"),
  local("Roboto"),
  local("Oxygen-Sans"),
  local("Ubuntu"),
  local("Cantarell"),
  local("Fira Sans"),
  local("Droid Sans"),
  local("Helvetica Neue");
}

@font-face {
  font-family: PinaforeEmoji;
  src:
    local("Twemoji Mozilla"),
    local("Apple Color Emoji"),
    local("Segoe UI Emoji"),
    local("Segoe UI Symbol"),
    local("Noto Color Emoji"),
    local("EmojiOne Color"),
    local("Android Emoji");
}
